body {
  height: 100%;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

a {
  color: #00e;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 9px 25px;
  border-radius: 60px;
  background-color: #000;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #ff0001;
}

.button.cancel-contact {
  height: 40px;
  margin-top: 10px;
  margin-left: 9px;
  padding-top: 10px;
  float: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.18);
  background-color: hsla(0, 0%, 100%, 0.18);
  opacity: 1;
  font-family: Roboto, sans-serif;
  color: #bdbdbd;
  font-weight: 400;
  text-transform: uppercase;
}

.button.cancel-contact:hover {
  background-color: #bdc2c7;
  opacity: 1;
  color: #fff;
}

.button.submit-button {
  height: 40px;
  margin-top: 10px;
  padding-top: 10px;
  float: none;
  border: 1px solid #de2620;
  background-color: #c9201a;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.button.submit-button:hover {
  border-color: #1370d9;
  background-color: #f1261f;
  color: #fff;
}

.navbar {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 23px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
}

.nav-link {
  display: inline-block;
  margin-left: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  opacity: 0.4;
  -webkit-transition: border 300ms ease;
  transition: border 300ms ease;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link:hover {
  border-color: #c7c7c7;
  opacity: 1;
  color: #000;
}

.nav-link.w--current {
  opacity: 1;
  color: #000;
}

.logo-container {
  display: inline-block;
  float: left;
}

.nav-menu-left {
  float: left;
}

.nav-menu-left.right {
  float: right;
}

.home-intro-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 56px;
  line-height: 58px;
  font-weight: 100;
  text-transform: none;
}

.home-intro-title._2 {
  margin-top: 10px;
  opacity: 0.4;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 34px;
  line-height: 39px;
  font-weight: 100;
}

.home-button-wrapper {
  margin-top: 42px;
}

.home-button {
  display: inline-block;
  padding: 12px 25px;
  border: 1px solid #1370d9;
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: background-color 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, color 500ms ease;
  font-family: Roboto, sans-serif;
  color: #1370d9;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.home-button:hover {
  background-color: #1370d9;
  color: #fff;
}

.home-button.green {
  border-color: #4fa94b;
  color: #4fa94b;
}

.home-button.green:hover {
  background-color: #4fa94b;
  color: #fff;
}

.home-button-block {
  display: inline-block;
  margin-right: 9px;
}

.page-content-section {
  position: relative;
  z-index: 1;
  background-color: #000;
  background-image: url('../images/Smoke-gray.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.subpage-container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.contact-block {
  display: block;
  width: 600px;
  height: 310px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.1);
}

.contact-block-image {
  width: 35%;
  height: 100%;
  float: left;
  background-image: url('../images/cory-blurred.png');
  background-position: 50% 50%;
  background-size: cover;
}

.contact-content-block {
  width: 65%;
  height: 100%;
  padding: 45px;
  float: right;
  text-align: left;
}

.content-block-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #c9201a;
  font-size: 44px;
  line-height: 42px;
  font-weight: 400;
}

.content-block-title.subtitle {
  margin-top: 3px;
  color: #000;
  font-size: 20px;
  line-height: 32px;
  text-transform: none;
}

.section-title-divider {
  display: inline-block;
  width: 20%;
  height: 3px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.09);
}

.contact-block-image-overlay {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(52, 61, 71, 0.6);
  text-align: center;
}

.contact-avatar-block {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  border-radius: 100%;
  background-image: url('../images/cory.png');
  background-position: 50% 50%;
  background-size: cover;
}

.social-links-container {
  margin-top: 15px;
}

.social-block {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 2px;
  padding-top: 9px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.social-block:hover {
  background-color: #000;
}

.social-icon {
  height: 14px;
}

.page-content-overlay {
  display: block;
  height: 100%;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: hsla(0, 0%, 92.2%, 0.7);
}

.contact-info-list {
  position: relative;
  width: 100%;
}

.contact-info-list-item {
  position: relative;
  width: 100%;
  margin-bottom: 9px;
  padding-left: 35px;
}

.contact-info-text {
  font-family: Roboto, sans-serif;
}

.contact-info-link {
  position: relative;
  z-index: 10;
  display: inline-block;
  font-family: Roboto, sans-serif;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.contact-info-link:hover {
  color: #000;
}

.contact-info-tooltip {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: inline-block;
  margin-left: 9px;
  font-family: Roboto, sans-serif;
  color: #de2620;
  font-weight: 700;
}

.contact-form {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 45px;
  background-color: #fff;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.field {
  height: 50px;
  margin-bottom: 4px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-transition: border 500ms ease;
  transition: border 500ms ease;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  text-align: left;
}

.field:hover {
  border-color: #000;
}

.field:focus {
  border-color: #1370d9;
  box-shadow: 0 0 5px 1px rgba(19, 112, 217, 0.4);
}

.field.area {
  height: 130px;
  padding-top: 12px;
}

.contact-icon-block {
  position: absolute;
  left: 0px;
  top: -3px;
  width: 25px;
  height: 25px;
  padding-top: 1px;
  background-color: #ff0001;
  text-align: center;
}

.contact-icon-block.green {
  background-color: #4fa94b;
}

.contact-icon-block.blue {
  background-color: #1370d9;
}

.contact-icon {
  height: 15px;
}

.footer {
  margin-bottom: 0px;
  padding-top: 140px;
  padding-bottom: 80px;
  text-align: center;
}

.hero-block {
  display: inline-block;
  width: 70%;
  font-size: 15px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #c9201a;
  font-size: 42px;
  font-weight: 300;
}

.section-title._2 {
  margin-top: 13px;
  margin-bottom: 27px;
  opacity: 0.5;
  font-size: 26px;
  font-weight: 100;
}

.section-title._3 {
  margin-top: 10px;
  color: #000;
  font-size: 26px;
}

.footer-contact-block {
  margin-top: 54px;
}

.footer-contact-column {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

.footer-contact-icon-block {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 14px;
  padding-top: 10px;
  float: none;
  border-radius: 100%;
  background-color: #1370d9;
}

.footer-contact-icon-block._2 {
  padding-top: 10px;
  background-color: #ff0001;
}

.footer-contact-icon-block._3 {
  padding-top: 10px;
  background-color: #4fa94b;
}

.footer-contact-icon {
  height: 15px;
  margin-bottom: 6px;
}

.footer-contact-text {
  display: inline-block;
  margin-top: 8px;
  margin-right: 5px;
  float: none;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.footer-contact-link {
  position: relative;
  z-index: 10;
  color: #de2620;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.footer-contact-link:hover {
  color: #1370d9;
}

.bottom-footer-block {
  margin-top: 140px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid #e8e8e8;
}

.bottom-footer-col-left {
  text-align: left;
}

.bottom-footer-col-right {
  text-align: right;
}

.bottom-footer-text {
  font-family: Roboto, sans-serif;
  color: #bdbdbd;
  font-size: 13px;
  font-weight: 300;
}

.contact-container {
  position: relative;
  margin-bottom: -100px;
}

.bottom-footer-link {
  color: #a5a5a5;
  text-decoration: none;
}

.bottom-footer-link:hover {
  color: #646464;
}

.text-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 100;
}

.error-bg {
  padding-top: 17px;
  border-radius: 50px;
  color: #df2e2e;
}

.success-bg {
  border-radius: 70px;
  background-color: #4fa94b;
  color: #fff;
}

html.w-mod-js *[data-ix="fade-in-overall-content-block"] {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="hide-contact-info-tooltip"] {
  display: block;
  opacity: 0;
  -webkit-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
}

html.w-mod-js *[data-ix="hide-contact-form"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .nav-link {
    display: block;
    width: 100%;
    max-width: 1010px;
    margin-left: 0px;
    border-width: 0px;
    border-radius: 0px;
    opacity: 1;
    color: #fff;
  }

  .nav-link:hover {
    background-color: #141b24;
    color: #fff;
  }

  .nav-link.w--current {
    background-color: #141b24;
    color: #fff;
  }

  .nav-menu-left.right {
    background-color: rgba(20, 27, 36, 0.9);
  }

  .section-title {
    font-size: 32px;
  }

  .section-title._2 {
    font-size: 23px;
  }

  .text-logo {
    margin-top: 6px;
  }

  .menu-button {
    width: 50px;
    height: 50px;
    padding-top: 13px;
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    text-align: center;
  }

  .menu-button.w--open {
    border-color: #1370d9;
    background-color: #1370d9;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .contact-block {
    width: 100%;
  }

  .contact-content-block {
    overflow: hidden;
    padding-right: 25px;
    padding-left: 35px;
  }

  .contact-avatar-block {
    width: 100px;
    height: 100px;
  }

  .page-content-overlay {
    padding: 35px;
  }

  .contact-form {
    width: 100%;
  }

  .section-title {
    font-size: 34px;
  }

  .footer-contact-block {
    margin-top: 25px;
  }

  .footer-contact-column {
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .footer-contact-icon-block {
    margin-top: -6px;
  }

  .footer-contact-text {
    margin-top: 12px;
  }

  .bottom-footer-block {
    margin-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
  }

  .bottom-footer-col-left {
    text-align: center;
  }

  .bottom-footer-col-right {
    padding-top: 10px;
    text-align: center;
  }

  .footer-container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 479px) {
  .button.cancel-contact {
    margin-left: 3px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
  }

  .button.submit-button {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
  }

  .contact-block {
    height: auto;
  }

  .contact-block-image {
    width: 100%;
    height: 132px;
  }

  .contact-content-block {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }

  .content-block-title {
    font-size: 31px;
    line-height: 40px;
  }

  .content-block-title.subtitle {
    font-size: 17px;
    line-height: 22px;
  }

  .section-title-divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .contact-block-image-overlay {
    padding-top: 25px;
  }

  .contact-avatar-block {
    width: 80px;
    height: 80px;
  }

  .social-links-container {
    margin-top: 5px;
  }

  .social-block {
    width: 30px;
    height: 30px;
    padding-top: 2px;
    border: 2px solid #fff;
    background-color: #141b24;
  }

  .social-icon {
    height: 12px;
  }

  .contact-info-list-item {
    padding-left: 32px;
  }

  .contact-info-text {
    font-size: 13px;
    line-height: 19px;
  }

  .contact-form {
    padding: 21px;
  }

  .field {
    height: 40px;
    font-size: 12px;
  }

  .footer {
    padding-top: 100px;
  }

  .section-title {
    font-size: 24px;
    line-height: 26px;
  }

  .section-title._2 {
    font-size: 20px;
    line-height: 25px;
  }

  .footer-contact-row {
    padding-left: 20px;
  }

  .footer-contact-icon-block {
    float: left;
  }

  .footer-contact-text {
    margin-top: 1px;
    float: left;
  }

  .bottom-footer-text {
    font-size: 12px;
  }
}

